main {
  padding-top: 50px;
  background-color: transparent;
}

header {
  padding-bottom: 3px;
}

.title {
  float: left;
  display: inline-block;
  font-size: 3.6em;
  font-family: "Fredoka One", cursive;
  text-align: center;
  padding-bottom: 0.5em;
}

.logo {
  padding-bottom: 24px;
  text-align: center;
  float:right;
}

.attribution{
  padding-bottom: 8px;
}

.pixabayLogo{
  width: 200px;
}
