<div class="app">
  <app-dynamic-form
    [config]="config"
    #form
    (submit)="submit($event)">
  </app-dynamic-form>
  <p>form valid: {{ form.valid }}</p>
  <p>form value: {{ form.value | json }}</p>
</div>

<div class="container">
  <main>
    <header class="clearfix">
      <span class="title"> {{ title }} </span>
      <h1 class="logo">
        <p class="attribution">All images provided by</p>
        <a href="https://pixabay.com" target="_blank">
          <img src= "../assets/images/logo.png" class="pixabayLogo">
        </a>
      </h1>
    </header>
    <app-image-list></app-image-list>
  </main>
</div>
<app-btn-scroll-top btnScrollHide></app-btn-scroll-top>
